<nav class="navbar navbar-inverse">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('proyecto_user_index')}}">{% trans %}Thing Out{% endtrans %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                 <li>
                   <a href="#">Contactos y Redes Sociales</a>
                       
                 </li>
                  <li>
                   <a href="{{path('proyecto_user_subir')}}">Subir</a>
                       
                 </li>
                 {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                   {% if app.user.role=='ROLE_ADMIN'%}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Users{% endtrans %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('proyecto_user_listausuarios')}}">{% trans %}Lista de usuarios{% endtrans %}</a></li>
                        
                    </ul>
                </li>
                {% endif %}
                 {% endif %}
               
                  
                 <li>
                   <a href="{{path('proyecto_user_acercademi')}}">Acerca de Mi</a>
                       
                 </li>
                

            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                  <ul class="nav navbar-nav navbar-right">
               <li>
                   <a href="#"> {{app.user.username}}</a>
                 
               </li>
               <li>
                   
                   <a href="{{path('proyecto_user_logout')}}"> Cerrar Session</a>
               </li>
                

                </ul>
              {% else %}  

            <ul class="nav navbar-nav navbar-right">
               <li>
                   <a href="{{path('proyecto_user_registrar')}}">Registrarse</a>
               </li>
                <li>
                   <a href="{{path('proyecto_user_login')}}">Iniciar Sesion</a>
               </li>

            </ul>
            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>